// Define variables for your color scheme

// For example:
$red: #FD1015;
$frost: #7A9CC6;
$yellow: #FFC65A;
$orange: #F96E46;
$green: #1EDD88;
$blue-black: #0C1821;
$dark-blue: #1B2A41;
$gray: #525252;
$light-gray: #F4F4F4;
$snow: #FFFAFA;
