<h1>Pages#home</h1>


<div class="container d-flex justify-content-around">
  <div class="card-large">
    <img src="https://www.freaksstore.com/client_info/FREAKSSTORE/itemimage/15644100270/15644100270-_73.jpg" class="item-card-image" />
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar" />
    <p class="card-item-category">Women's Jacket</p>
    <div class="card-textbox">
      <h2>Blue Northface Jacket</h2>
      <div class="card-info">
        <div>
          <p>Size: <strong>Medium</strong></p>
          <p><strong>Excellent Used Condition</strong></p>
        </div>
        <div class="card-price">
          <p>Price per day:</p>
          <h3>¥1000</h3>
        </div>
      </div>
    </div>
  </div>
</div>

        <a href="#" class="button-frost">Reserve</a>
