.card-large {
  position: relative;
  width: 250px;
  overflow: hidden;
  background: $snow;
  padding: 8px;
  margin: 4px 0;
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
  background-image: asset-url("plow-card-background.png");
  background-size: cover;
  h2 {
    margin-bottom: 0rem;
    color: $dark-blue;
    text-shadow: 0 0 2px $snow;
    font-size: 1.4rem;
    font-weight: bold;
  }
  h3 {
    padding: 8px;
    text-shadow: 0 0 2px $snow;
    font-size: 1.2rem;
  }
  p {
    text-shadow: 0 0 2px $snow;
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
  }
  .card-user {
  position: absolute;
  right: 12px;
  top:  12px;
  width: 40px;
  transition: 1s;
  }
  .card-textbox {
  padding: 8px;
  }
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;
  }
}

.card-large:hover {
  .card-item-category {
    opacity: 0.4;
    transition: 1s;
  }
  .card-user {
    opacity: 0.4;
    transition: 1s;
  }
}

.item-card-image {
height: 200px;
width: 234px;
object-fit: contain;
border-radius: 2px;
}

.card-item-category {
  position: absolute;
  left: 16px;
  top:  16px;
  color: $gray;
  text-shadow: 0 0 1px $gray;
  background-color: $snow;
  padding: 4px;
  border-radius: 4px;
  transition: 1s;
}

.card-price {
  display: flex;
  flex-direction: column;
  p {
    font-size: 0.8rem;
    color: $blue-black;
    text-shadow: 0 0 1px $snow;
  }
}
